.header-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80vw;
}

.header-text {
    color: #b3e4fa
}

@media all and (max-width: 600px) {
    .link-container {
        font-size: 12px;
    }
    .header-links {
        margin: 2px;
    }
}