* {
  margin: 0;
  padding: 0;
  text-align: center;
}

body {
  background-color: #a99985;
}


.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}



.App-content {
  margin-top: 8px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #a99985;
}

.header-container-1 {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
  margin: 18px;
  background-color: #252323;
  border-radius: 5px;
}

.header-text {
  color: white;
}

.link-container {
  padding: 8px;
  text-decoration: none;
  color: white;
}

.footer-container {
  height: 60px;
}

input {
  position: relative;
  width: 120px;
  height: 25px;
}
form {
  background-color: #bdb1a2;
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 8px;
  padding: 22px;
  border-radius: 30px;
  box-shadow: inset -6px -6px 6px rgb(46, 46, 46), inset 3px 3px 9px rgba(0, 0, 0, 0.644);
}
